.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 50px;
}

.card_main {
    padding: 0px 34px;
}

.card-header {
    color: var(--Gray-Gray-700, #2D3748);
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.custom_card_header {
    margin-top: 64px;
}

.custom_ps_img {
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 12px;
}

.custom_img {
    padding: 20px;
}

.custom_img_gg {
    padding: 4px;
}

.custom_or {
    color: var(--Gray-Gray-400, #A0AEC0);
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-top: 18px;
}

.form-control {
    border-color: unset !important;
    border-color: #CDCDCD !important;
}

.form-control::placeholder {
    color: unset !important;
    color: var(--Gray-Gray-700, #A0AEC0) !important;
    transform: translateY(-3px);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.text_label {
    margin-bottom: 4px;
    font-size: 14px;
}

.switch {
    border-radius: 15px;
    background-color: #4FD1C5;
}

.img_eclipse {
    padding-left: 18px;
    padding-bottom: 11px;
}

.lb_remember {
    margin-left: 8px;
    font-size: 12px;
}

.card-footer {
    margin-top: 28px;
}

.custom_btn_signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_signup {
    width: 100%;
    margin-top: 40px;
    height: 45px;
    background-color: #4FD1C5;
    border: 1px solid var(--light-background, #FFF);
}

.text_btn {
    color: var(--black-amp-white-white, #FFF);
    text-align: center;
    font-family: Helvetica;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.custom_link {
    text-decoration: none;
    color: var(--Teal-Teal-300, #4FD1C5);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.custom_question {
    color: var(--Gray-Gray-400, #A0AEC0);
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}